[run]
source = script_for_workflow
omit =
    */venv/*
    */virtualenv/*
    */site-packages/*
    */dist-packages/*
    */test*
    */__pycache__/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

show_missing = True
precision = 2